server {
    listen 80;
    server_name testapp${AUTH_COOKIE_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name testapp${AUTH_COOKIE_DOMAIN};
    include /etc/nginx/snippets/ssl.conf;
    include /etc/nginx/snippets/auth.conf;

    location / {
        auth_request /internal/auth-verify;
        error_page 401 = /internal/login-redirect;

        auth_request_set $auth_user $upstream_http_x_user;
        add_header X-User $auth_user always;
        add_header Cache-Control "no-store" always;

        root /var/www/testapp;
        index index.html;
    }
}
