# Rocket configuration
ROCKET_ADDRESS=0.0.0.0
ROCKET_PORT=8000
ROCKET_SECRET_KEY=
ROCKET_DATABASES='{users_db={url="file:/path/to/shared/users.sqlite?mode=ro"}}'

# Cookie domain
AUTH_COOKIE_DOMAIN=.lab.home.arpa
VITE_AUTH_COOKIE_DOMAIN=.lab.home.arpa
