resolver 127.0.0.11 valid=30s;

location = /internal/auth-verify {
    internal;
    set $upstream_rocket rocket-auth:${ROCKET_PORT};
    proxy_pass http://$upstream_rocket/api/verify;
    proxy_pass_request_body off;
    proxy_set_header Content-Length "";
    proxy_set_header X-Original-URI $request_uri;
    proxy_set_header Cookie $http_cookie;
}

location = /api/logout {
    set $upstream_rocket rocket-auth:${ROCKET_PORT};
    proxy_pass http://$upstream_rocket/api/logout;
    proxy_set_header Cookie $http_cookie;
}

location = /internal/login-redirect {
    internal;
    return 302 https://auth${AUTH_COOKIE_DOMAIN}/login?redirect=$scheme://$http_host$request_uri;
}

location = /error.html {
    internal;
    return 302 https://auth${AUTH_COOKIE_DOMAIN}/error;
}
