location = /internal/auth-verify {
    internal;
    proxy_pass http://rocket-auth:${ROCKET_PORT}/api/verify;
    proxy_pass_request_body off;
    proxy_set_header Content-Length "";
    proxy_set_header X-Original-URI $request_uri;
    proxy_set_header Cookie $http_cookie;
}

location = /api/logout {
    proxy_pass http://rocket-auth:${ROCKET_PORT}/api/logout;
    proxy_set_header Cookie $http_cookie;
}

location = /internal/login-redirect {
    internal;
    return 302 https://auth${AUTH_COOKIE_DOMAIN}/login?redirect=$scheme://$http_host$request_uri;
}
